.container {
  padding: 20px;
  background-color: #fdf1e4;
  text-align: center;
  justify-items: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.idopontok-table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.idopontok-table th,
.idopontok-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.foglalt {
  color: red;
  font-weight: bold;
}

.szabad {
  color: green;
  font-weight: bold;
}

.foglalas-btn {
  background-color: #4c3131;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;

  &:hover {
    background-color: #388e3c;
  }
}
